/*
classes - Main classes used: container, tile, tileInfo, intro
borders: intro has a border, each tile has a specified border radius
navigation: see navbar
multiple selectors: see nav elements (hover etc)
styling lists: see tileInfo, list-style-position was used to force list inside the tile box
psudo classes - nav elements are underlined when hovered over
fonts: imported roboto font, changed properties in intro class, definitions, and footer
background color: each tile has own background color, fonts colors are changed in tiles and footer
active state: all links will have yellow background when active
*/


html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #85c0b4;;
    background-image: url(05Images/background.gif);
    background-repeat: repeat-x;
}
* {
    margin: 0;
    padding: 0;
  }
#container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


#heading{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

a:active {
    background-color: yellow;
}

/*-------- Styling for navigation bar---------- */

nav ul {
    text-align: center;
    position: relative;
    background-color: rgb(0,0,0);
  }

nav ul li {
    display: inline-block;
    margin: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
    max-width: 900px;
    align-items: center;
}
  
  nav ul li a {
    color: white;
    text-decoration: none;
}
  
nav ul li a:hover {
    text-decoration: underline;
}
/*-------- Styling for navigation bar Ends---------- */


/*-------- Main landing section ---------- */
.intro{
    top: 0;
    min-height: 30vh;
    padding-top: 25vh;
    margin-bottom: 10px;
    text-align: center;
    background: no-repeat center/100% url('05Images/timpanogos.JPG');
    background: flip;
    color: white;
}

.intro h1 {
    font-size: 50px;
}

/*-------- container which holds tiles/info ---------- */
.cardHolder{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-bottom: 75px;
    max-width: 100%;
}

/*-------- Outer box/tile for each section of info---------- */
.tile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #777;    
}

/*-------- styling for each tile heading---------- */
.tile h2 {
    padding-bottom: 10px;
    text-decoration: underline;
}

/*-------- Styling information within tile lists etc---------- */
.tileInfo {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    list-style-position: inside;
}

.tileInfo blockquote {
    padding-top: 15px;
}

.tileInfo li {
    background-image: url('05Images/wheel_icon.png');
    background-repeat: no-repeat;
    list-style: none;
    background-position: left center;
	padding: 16px 0 16px 30px;
	background-size: 20px;
}

/*-------- Each tile gets it own background color etc ---------- */
#about {
    background-color: #78C8D7;
    color: white;
}

#questions {
    background-color: #FFC758;
    color:white;
}

#maintenance {
    background-color: #E79B71;
    color:white;
}

#trails {
    background-color: rgb(218, 103, 109);
    color:white;
}

#types {
    background-color: #08AC88;
    color:white;
}

/*-------- definitions are bolded and spaced---------- */
#types dt {
    font-weight: bolder;
}

#types dd {
    padding-bottom: 5px;
}

#address {
    background-color: #AA4CBA;
    color: white;
}

/*-------- footer styling ---------- */
footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    margin-top: 40vh;
    position: absolute;
    bottom: 100%;
}

#pagebottom {
    padding-left: 10px;
}


/*------ IMAGES -----*/

.figContainer {
    border: thin solid #222;
    margin: 10px;
    max-width: 400px;
    padding: 0px;
}

img {
    max-height: 30vh;
    max-width: 30vw;
}


figcaption {
    font: italic smaller sans-serif;
    text-align: center;
}  

#pic {
    float: left;
}


.container2{
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    padding-bottom: 75px;
}

/* container 2 needs to be fixed*/



/*----------------- Form Styling -------------------*/
.testForm {
    display: block;
    padding-top: 2rem;
}

.testForm span {
    display: block;
    padding-top: 1rem;
    font-size: .75rem;
    color: black;
    margin-bottom: .25rem;
}

.testForm fieldset {
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 1rem 2%;
    width: 70vw;
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.testForm legend {
    font-size: .8rem;
}

.testForm .userInput {
    border-radius: .5rem;
    color: navy;
    padding: .25rem;
    font-size: .85rem;
    width: 20rem;
}

.textEntry {
    width: 30rem;
    height: 3rem;
    border-radius: 1rem;
    padding: .75rem;
    color: navy;
    background-color: white;
}

.button {
    display: block;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 2px solid #0048ff;
    background-color: #3c73ff;
    border-radius: 10px;
    color: #fff;
    transition: .3s;
    margin: 1rem;
    font-size: 15px;
  }

  .button:hover {
    transition: .3s;
    cursor: pointer;
    background-image: linear-gradient(to top, #0048ff , #3c73ff);
    transition: 1s;
  }

  .pageHeading {
    top: 0;
    padding-top: 95px;
    margin-left:2vw;
  }