/*
classes - Main classes used: container, tile, tileInfo, intro
borders: intro has a border, each tile has a specified border radius
navigation: see navbar
multiple selectors: see nav elements (hover etc)
styling lists: see tileInfo, list-style-position was used to force list inside the tile box
psudo classes - nav elements are underlined when hovered over
fonts: imported roboto font, changed properties in intro class, definitions, and footer
background color: each tile has own background color, fonts colors are changed in tiles and footer
active state: all links will have yellow background when active
*/




html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
  }

#heading{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

a:active {
    background-color: yellow;
}

/*-------- Styling for navigation bar---------- */
nav ul {
    text-align: left;
    position: fixed;
    width: 100%;
    background-color: rgb(0,0,0);
  }

nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 20px;
}
  
  nav ul li a {
    color: white;
    text-decoration: none;
}
  
nav ul li a:hover {
    text-decoration: underline;
}
/*-------- Styling for navigation bar Ends---------- */


/*-------- Main landing section ---------- */
.intro{
    top: 0;
    min-height: 50vh;
    padding-top: 35vh;
    margin-bottom: 10px;
    text-align: center;
    border: black, solid, 1px;
    background: no-repeat center/100% url('assets/timp.JPG');
    background: flip;
    color: white;
}

.intro h1 {
    font-size: 50px;
}

/*-------- container which holds tiles/info ---------- */
.container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-bottom: 75px;
    float: center;
}

/*-------- Outer box/tile for each section of info---------- */
.tile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #777;    
}

/*-------- styling for each tile heading---------- */
.tile h2 {
    padding-bottom: 10px;
    text-decoration: underline;
}

/*-------- Styling information within tile lists etc---------- */
.tileInfo {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    list-style-position: inside;
}

.tileInfo blockquote {
    padding-top: 15px;
}

/*-------- Each tile gets it own background color etc ---------- */
#about {
    background-color: #64BA4E;
    color: white;
}

#questions {
    background-color: #FAB73B;
    color:white;
}

#maintenance {
    background-color: #F48230;
    color:white;
}

#trails {
    background-color: #DE3C43;
    color:white;
}

#types {
    background-color: #199EDA;
    color:white;
}

/*-------- definitions are bolded and spaced---------- */
#types dt {
    font-weight: bolder;
}

#types dd {
    padding-bottom: 5px;
}

#address {
    background-color: #AA4CBA;
    color: white;
}

/*-------- footer styling ---------- */
footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    margin-top: 40vh;
}

#pagebottom {
    padding-left: 10px;
}


/*------ IMAGES -----*/

.figContainer {
    border: thin solid #222;
    margin: 10px;
    max-width: 400px;
    padding: 0px;
}

.img {
    max-width: 400px;
    max-width: 300px;
    caption-side: inherit;
    padding-top: 20px;

}

figcaption {
    font: italic smaller sans-serif;
    text-align: center;
}  

#pic {
    float: left;
}


.container2{
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    padding-bottom: 75px;
}

/* container 2 needs to be fixed*/